@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
  /* colors */
  --dark: #272727;
  --light: #ffffff;
  --yellow: #fffcdc;
  --orange: #f78f1e;
}

/* Clear default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

/* Common classes */
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1520px;
  margin: 0 auto;
}

@media (max-width: 1560px) {
  .wrapper {
    width: calc(100% - 40px);
  }
}

.title {
  font-size: 50px;
  font-weight: 800;
  line-height: 68px;
}

.button {
  position: relative;
  display: flex;
  padding: 16px 20px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out,
    border 0.25s ease-in-out;
  z-index: 5;
}

.button_primary {
  background: var(--orange);
  color: var(--light);
}

.button_outlined {
  border: 1px solid var(--orange);
  background: var(--light);
  color: var(--orange);
}

.logo img {
  user-select: none;
  pointer-events: none;
}

.policy {
  cursor: pointer;
}

/* _________ */

.layout {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  color: var(--dark);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background: var(--light);
  position: relative;
  overflow-x: hidden;
}

body.--lock {
  overflow: hidden;
}

.header {
  padding: 24px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
}

.header__wrapper {
  justify-content: space-between;
  flex-direction: row;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.nav__item {
  padding: 10px;
  margin-right: 10px;
  position: relative;
}

.nav__item::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--orange);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.nav__item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav__item:hover::after {
  opacity: 1;
  transform: translateY(-7px) scale(0.9);
}

.nav__item:last-child {
  margin-right: 0px;
}

/* Mobile Menu */
.burger-menu__button {
  display: none;
  /* display: flex; */
  align-self: center;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
.burger-menu__button span {
  width: 24px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark);
  transition: all 0.5s;
  border-radius: 2px;
}
.burger-menu__button span:nth-of-type(2) {
  top: calc(50% - 7px);
}
.burger-menu__button span:nth-of-type(3) {
  top: calc(50% + 7px);
}

.burger-menu__button.--active span:nth-of-type(1) {
  display: none;
}
.burger-menu__button.--active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.burger-menu__button.--active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 115px 30px 20px;
  z-index: 100;
  background: var(--light);
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.mobile-menu.--active {
  transform: translateX(0%);
}

.mobile-menu.--active + .overlay {
  display: block;
}

.overlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.mobile-menu__links {
  display: flex;
  position: relative;
  flex-direction: column;
  font-weight: 800;
  font-size: 20px;
  line-height: 33px;
  padding: 40px 0;
}

.mobile-menu__links::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  height: 2px;
  width: 100%;
  background: var(--orange);
  border-radius: 3px;
}

.mobile-menu__links::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 2px;
  width: 100%;
  background: var(--orange);
  border-radius: 3px;
}

.mobile-menu__links-item {
  margin-bottom: 30px;
  transition: color 0.3s ease-in-out;
}

.mobile-menu__links-item:hover {
  color: var(--orange);
}

.mobile-menu__links-item:last-child {
  margin-bottom: 0px;
}

.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 33px;
  padding: 40px 0;
}

.mobile-menu__contacts-item {
  margin-bottom: 30px;
  transition: color 0.3s ease-in-out;
}

.mobile-menu__contacts-item:hover {
  color: var(--orange);
}

.mobile-menu__contacts-item svg path {
  transition: all 0.5s ease-in;
}

.mobile-menu__contacts-item:hover svg path {
  fill: var(--dark);
}

.mobile-menu__contacts-item:last-child {
  margin-bottom: 0px;
  display: flex;
}

.intro {
  padding: calc(160px + 95px) 0 200px;
  background: var(--yellow);
}

.intro__wrapper {
  flex-direction: row;
}

.intro__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 68px;
  margin-bottom: 20px;
}

.intro__title span {
  color: var(--orange);
}

.intro__text {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 33px;
}

.intro__button {
  width: fit-content;
  height: fit-content;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  padding: 16px 32px;
}

.intro__button:hover {
  box-shadow: 13px 8px 30px 0px #f68b1f1c;
}

.intro__info {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin-right: 1vw;
}

.intro__image {
  display: flex;
  position: relative;
  width: 100%;
}

.intro__image img {
  display: flex;
  position: absolute;
  top: -35%;
  left: 12%;

  aspect-ratio: 8.8/7.7;
  object-fit: contain;
}

.howto {
  padding: 50px 0 100px;
  background: var(--light);
}

.howto__wrapper {
  flex-direction: row;
}

.howto__title {
  margin-bottom: 40px;
}

.howto__image {
  display: flex;
  position: relative;
  width: 100%;
}

.howto__image img {
  display: flex;
  position: absolute;
  aspect-ratio: 8.5/12.5;
  object-fit: contain;
}

.howto__info {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  margin-right: 20px;
}

.howto__steps {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.howto__step {
  padding: 40px 30px;
  display: flex;
  border-radius: 30px;
  box-shadow: 13px 8px 25px 0px #f68b1f1c;
  background: var(--light);
  margin-bottom: 20px;
}

.howto__step:first-child {
  background: var(--yellow);
}

.howto__step:last-child {
  margin-bottom: 0;
}

.howto__step:first-child .step__text {
  margin-bottom: 20px;
}

.step__number {
  margin-right: 20px;
}

.step__number span {
  display: flex;
  background: var(--orange);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: var(--light);
}

.step__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 10px;
}

.step__container {
  display: flex;
}

.step__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.step__link {
  justify-content: flex-start;
  font-weight: 700;
  background: var(--light);
  padding: 15px 30px;
  margin-right: 20px;
  box-shadow: 7px 11px 26px 0px #f68b1f40;
  width: 100%;
}

.step__link:last-child {
  margin-right: 0;
}

.step__link img {
  display: flex;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.advantages {
  padding: 100px 0 50px;
  background: var(--light);
}

.advantages__wrapper {
  justify-content: space-between;
  flex-direction: row;
}

.advantages__title {
  width: min-content;
}

.advantages__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6vw;
  row-gap: 3vw;
  padding: 0 30px 0 20px;
}

.advantages__feature {
  display: flex;
}

.feature__image {
  display: flex;
  margin-right: 20px;
  width: 135px;
  height: 115px;
  justify-content: center;
}

.feature__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.levels {
  padding: 100px 0px;
  background: var(--yellow);
}

.levels__wrapper {
  align-items: center;
}

.levels__title {
  margin-bottom: 20px;
  text-align: center;
}

.levels__info {
  max-width: 500px;
  text-align: center;
  margin-bottom: 40px;
}

.levels__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  column-gap: 20px;
}

.levels__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light);
  border-radius: 30px;
  padding: 65px 20px;
  box-shadow: 13px 8px 25px 0px rgba(246, 139, 31, 0.11);
}

.card__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card__sale {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px;
  background: var(--orange);
  border-radius: 50%;
}

.card__sale > span {
  font-size: 50px;
  line-height: 68px;
  font-weight: 800;
  color: var(--light);
}

.card__price {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 27px;
}

.card__background {
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__background img {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
}

.card__background img:nth-child(1) {
  top: 5%;
  left: 4%;
}

.card__background img:nth-child(2) {
  top: 5%;
  right: 4%;
  transform: rotate(180deg) scaleY(-1);
}

.card__background img:nth-child(3) {
  bottom: 5%;
  left: 4%;
  transform: scaleY(-1);
}

.card__background img:nth-child(4) {
  bottom: 5%;
  right: 4%;
  transform: rotate(-180deg);
}

.faq {
  padding: 100px 0px 50px;
  background: var(--light);
}

.faq__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs__nav button {
  margin-right: 40px;
}

.tabs__nav button:last-child {
  margin-right: 0px;
}

.tabs__button {
  border: 1px solid var(--orange);
  background: var(--light);
  color: var(--orange);
}

.tabs__button.--active {
  background: var(--orange);
  color: var(--light);
}

.tabs__content {
  display: none;
}

.tabs__content.--active {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  align-self: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--light);
  box-shadow: 6px 6px 20px 0px rgba(247, 143, 30, 0.08);
}

.accordion__question {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  cursor: pointer;
  transition: padding 0.2s ease-out;
}

.accordion__question.--active {
  padding: 30px 30px 20px;
}

.accordion__answer {
  display: flex;
  padding: 0px 30px;
  transition: max-height 0.2s ease-out, padding 0.2s ease-out,
    opacity 0.2s ease-out;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
}

.accordion__answer a {
  font-weight: 700;
  color: var(--orange);
}

.accordion__answer span {
  font-weight: 700;
}

.accordion__question.--active + .accordion__answer {
  padding: 0 30px 30px;
  opacity: 1;
}

.accordion__answer p {
  width: 85%;
  text-align: justify;
}

.accordion__title {
  font-size: 20px;
  font-weight: 700;
  width: 90%;
}

.accordion__icon {
  display: flex;
  align-self: center;
  position: relative;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  background: var(--orange);
  border-radius: 50%;
  padding-left: 10px;
}

.accordion__icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12.5px;
  height: 2px;
  background: var(--light);
  border-radius: 5px;
}

.accordion__icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12.5px;
  width: 2px;
  background: var(--light);
  border-radius: 5px;
  transition: transform 0.2s ease-out;
}

.accordion__question.--active .accordion__icon::after {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.adress {
  padding: 50px 0 100px;
  background: var(--light);
}

.adress__wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.adress__title {
  margin-bottom: 40px;
}

.adress__block {
  width: 100%;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-auto-rows: 777px;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.adress__menu {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 25px;
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: var(--orange) var(--orange);
}

.menu::-webkit-scrollbar {
  width: 12px;
  border: 1px solid var(--orange);
  border-radius: 8px;
}

.menu::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
.menu::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 8px;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border: 5px solid rgba(255, 128, 0, 0.32);
  border-radius: 30px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border 0.3s ease-in;
}

.menu__item.--active {
  border: 5px solid var(--orange);
}

.menu__text {
  text-align: start;
}

.menu__text:last-child {
  margin-top: 10px;
}

.menu__text span {
  font-weight: 800;
}

.menu__item:last-child {
  margin-bottom: 0px;
}

.adress__container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  overflow: hidden;
}

.menu__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 10px;
  text-align: start;
}

[class*='copyrights-pane'] {
  display: none !important;
}

.footer {
  padding: 70px 0px;
  background: var(--dark);
  color: var(--light);
}

.footer__wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
}

.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 18px;
  line-height: 33px;
}

.footer__links-item {
  margin-bottom: 15px;
  transition: opacity 0.3s ease-in-out;
}

.footer__links-item:hover {
  opacity: 0.7;
}

.footer__links-item:last-child {
  margin-bottom: 0px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 33px;
}

.footer__contacts-item {
  margin-bottom: 22px;
  text-align: end;
  transition: opacity 0.3s ease-in-out;
}

.footer__contacts-item:hover {
  opacity: 0.7;
}

.footer__contacts-item:last-child {
  margin-bottom: 0px;
  display: flex;
  margin-left: auto;
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  transition: all 0.5s ease-in;
}

.modal__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal.--active {
  display: flex;
  animation: fadeIn 0.5s ease-in forwards;
}

.modal.--active .modal__content {
  animation: translateIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    backdrop-filter: brightness(1);
  }
  to {
    backdrop-filter: brightness(0.5);
  }
}

@keyframes translateIn {
  from {
    opacity: 0.8;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  background: var(--light);
  border-radius: 60px;
  padding: 80px;
}

.modal-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}

.modal-top__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.modal-top__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
}

.modal-top__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.modal-top__close {
  font-size: 30px;
  padding: 5px;
  height: fit-content;
  cursor: pointer;
  color: var(--dark);
  transition: all 0.3s ease-in-out;
}

.modal-top__close:hover {
  color: var(--orange);
}

.modal__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
  padding: 25px calc(5vw) 0 0;
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: var(--orange) var(--orange);
}

.modal__main::-webkit-scrollbar {
  width: 12px;
  border: 1px solid var(--orange);
  border-radius: 8px;
}

.modal__main::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
.modal__main::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 8px;
}

.modal__block {
  display: flex;
  flex-direction: column;
}

.modal__block-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 10px;
}

.modal__block-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 1600px) {
  .howto__steps {
    width: 590px;
  }

  .adress__block {
    grid-template-columns: 0.25fr 0.75fr;
    grid-auto-rows: 700px;
  }
}

@media (max-width: 1750px) {
  .intro__image img {
    width: 90%;
  }

  .howto__image img {
    top: 10%;
  }
}

@media (max-width: 1600px) {
  .howto__steps {
    width: 590px;
  }

  .adress__block {
    grid-template-columns: 0.25fr 0.75fr;
    grid-auto-rows: 700px;
  }
}

@media (max-width: 1280px) {
  .title {
    font-size: 40px;
    line-height: 55px;
  }

  .intro {
    padding: calc(90px + 95px) 0 100px;
  }

  .intro__title {
    line-height: 68px;
  }

  .intro__image img {
    transform: scale(1.05);
    top: -2%;
  }

  .feature__image {
    width: 107px;
    height: 84px;
  }

  .feature__title {
    font-size: 24px;
    line-height: 33px;
  }

  .advantages__block {
    column-gap: 4vw;
  }

  .howto__image img {
    transform: scale(1.2);
    top: 25%;
    left: 3%;
  }

  .step__number span {
    font-size: 24px;
    line-height: 32px;
  }

  .step__title {
    font-size: 24px;
    line-height: 32px;
  }
  .step__link {
    font-size: 18px;
    line-height: 25px;
  }

  .menu__title {
    font-size: 22px;
    line-height: 30px;
  }

  .adress__block {
    grid-template-columns: 0.3fr 0.7fr;
    grid-auto-rows: 630px;
  }
  .footer__contacts-item:last-child svg {
    width: 24px;
    height: 24px;
  }

  .footer__contacts-item:last-child {
    align-items: center;
    justify-content: end;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 38px;
    line-height: 52px;
  }

  .intro {
    padding: calc(20px + 95px) 0 100px;
  }

  .intro__title {
    font-size: 40px;
    line-height: 55px;
  }

  .intro__text {
    font-size: 22px;
    line-height: 30px;
  }

  .intro__image img {
    transform: scale(1.3);
    top: 16%;
  }

  .advantages {
    padding: 80px 0 40px;
  }

  .howto {
    padding: 40px 0 70px;
  }

  .levels {
    padding: 80px 0;
  }

  .faq {
    padding: 80px 0 40px;
  }

  .footer {
    padding: 35px 0;
  }

  .footer__logo img {
    width: 147px;
    height: 35px;
  }

  .footer__adress {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__links {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__contacts {
    font-size: 12px;
    line-height: 16px;
  }

  .advantages__feature {
    align-items: center;
  }

  .feature__title {
    font-size: 20px;
    line-height: 27px;
  }

  .feature__image {
    width: 80px;
    height: 60px;
  }

  .howto__steps {
    width: 460px;
  }

  .step__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .step__link {
    font-size: 16px;
    line-height: 22px;
    padding: 15px;
  }

  .step__link img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .howto__image img {
    transform: scale(1.2);
    top: 25%;
  }

  .card {
    padding: 65px 15px;
  }

  .card__title {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }

  .tabs__button {
    font-size: 22px;
    line-height: 30px;
    padding: 10px 15px;
  }

  .tabs__content.--active {
    width: 85%;
  }

  .adress__block {
    grid-template-columns: 0.4fr 0.6fr;
    grid-auto-rows: 410px;
  }

  .adress {
    padding: 40px 0 80px;
  }

  .footer__contacts-item:last-child svg {
    width: 16px;
    height: 16px;
  }

  .modal__content {
    padding: 40px;
    width: 70%;
    height: 95%;
  }
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__logo {
    width: 216px;
    height: 50px;
  }

  .burger-menu__button {
    display: flex;
  }

  .intro {
    padding-bottom: 565px;
    position: relative;
  }

  .intro__wrapper {
    flex-direction: column;
  }

  .intro__info {
    align-items: center;
    text-align: center;
  }

  .br {
    display: none;
  }

  .intro__image {
    height: 50vw;
    position: absolute;
    left: 10%;
    bottom: 13%;
  }

  .intro__image img {
    transform: scale(1.2);
    top: 0%;
    left: 0%;
  }

  .advantages {
    padding-top: 100px;
  }

  .advantages__wrapper {
    flex-direction: column;
  }

  .advantages__title {
    justify-self: center;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .advantages__block {
    padding: 0;
    row-gap: 50px;
  }

  .howto {
    padding: 0 0 610px;
  }

  .howto__wrapper {
    flex-direction: column;
  }

  .howto__title {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }

  .howto__info {
    margin: 0;
  }

  .howto__steps {
    width: 100%;
  }

  .step__link img {
    margin-right: 20px;
  }

  .step__number span {
    font-size: 22px;
    line-height: 30px;
    height: 47px;
    width: 47px;
  }

  .howto {
    position: relative;
  }

  .howto__image {
    position: absolute;

    bottom: 60%;
  }

  .howto__image img {
    transform: scale(0.89);
    top: 0%;
    left: 0;
  }

  .levels__info {
    margin-bottom: 30px;
  }

  .levels__block {
    overflow-x: auto;
    padding-bottom: 35px;
    column-gap: 10px;

    scrollbar-width: auto; /* "auto" or "thin" */
    scrollbar-color: var(--orange) var(--orange);
  }

  .levels__block::-webkit-scrollbar {
    width: 12px;
    border: 1px solid var(--orange);
    border-radius: 8px;
  }

  .levels__block::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  .levels__block::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 8px;
  }

  .levels__card {
    width: 480px;
  }

  .tabs__button {
    padding: 16px 24px;
    margin-right: 20px !important;
  }

  .tabs__content.--active {
    width: 100%;
  }

  .adress__block {
    display: flex;
    flex-direction: column;
  }

  .adress__container {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .adress__menu {
    overflow-y: hidden;
    overflow-x: scroll;
    flex-direction: row;
    padding-right: 0;
    padding-bottom: 30px;
    gap: 20px;
  }

  .menu__item {
    min-width: 280px;
  }

  .map {
    height: 777px;
  }

  .footer {
    padding: 35px 0 85px;
  }

  .footer__logo {
    margin-bottom: auto;
  }
  .footer__adress {
    font-size: 12px;
    line-height: 16px;
  }

  .footer__links-item {
    margin-bottom: 3px;
  }

  .footer__links-item:last-child {
    width: min-content;
  }

  .footer__contacts {
    font-size: 12px;
    line-height: 16px;
  }
  .modal__content {
    padding: 25px;
    width: 90%;
    height: 95%;
  }
}

@media (max-width: 480px) {
  .br {
    display: flex;
  }
  .wrapper {
    width: calc(100% - 20px);
  }

  .intro {
    padding-bottom: 345px;
  }

  .intro__image img {
    top: 20%;
  }

  .intro__title {
    font-size: 32px;
    line-height: 44px;
  }
  .intro__text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .title {
    font-size: 30px;
    line-height: 41px;
  }

  .advantages__block {
    gap: 10px;
    row-gap: 30px;
  }

  .advantages__feature {
    flex-direction: column;
    align-items: center;
  }

  .feature__info {
    align-items: center;
  }

  .feature__image {
    margin: 0;
    margin-bottom: 30px;
    width: 80px;
    height: 95px;
  }

  .feature__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  .feature__text {
    font-size: 16px;
    line-height: 22px;
  }

  .advantages__block:last-child .feature__image {
    width: 180px;
    height: 150px;
  }

  .step__container {
    flex-direction: column;
    gap: 20px;
  }

  .step__link {
    margin: 0;
  }

  .step__link img {
    width: 40px;
    height: 40px;
  }
  .howto {
    padding-bottom: 500px;
  }

  .howto__image {
    bottom: 45% !important;
    transform: scale(1.25);
  }

  .levels__info {
    font-size: 16px;
    line-height: 22px;
  }

  .levels__card {
    width: 380px;
  }

  .tabs__nav {
    flex-direction: column;
    gap: 20px;
  }

  .tabs__button {
    margin: 0 !important;
  }

  .accordion__title {
    font-size: 18px;
    line-height: 25px;
  }

  .accordion__answer {
    font-size: 16px;
    line-height: 22px;
  }

  .menu__title {
    font-size: 18px;
    line-height: 25px;
  }

  .map {
    height: 524px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__logo img {
    width: 140px;
    height: 26px;
  }

  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .footer__block {
    margin-bottom: 30px;
  }

  .footer__links-item {
    margin-bottom: 10px;
  }

  .footer__links-item:last-child {
    margin-bottom: 0px;
    width: auto;
  }

  .footer__links {
    margin-bottom: 30px;
  }

  .footer__contacts {
    align-items: center;
  }

  .footer__contacts-item {
    margin-bottom: 10px;
  }
  .footer__contacts-item:last-child {
    margin: 0 auto;
  }

  .mobile-menu {
    padding: 100px 20px 20px;
  }

  .modal__content {
    width: 95%;
    height: 95%;
    border-radius: 20px;
  }

  .modal-top__title {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 5px;
  }

  .modal-top__text {
    font-size: 18px;
    line-height: 20px;
  }

  .modal__block-title {
    font-size: 20px;
    line-height: 25px;
  }

  .modal__block-text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    width: 150px;
    height: 33px;
  }

  .intro {
    padding-bottom: 212px;
  }

  .intro__title {
    font-size: 28px;
    line-height: 38px;
  }

  .advantages {
    padding-top: 110px;
  }

  .intro__image img {
    top: 45%;
  }

  .title {
    font-size: 24px;
    line-height: 33px;
  }

  .advantages__title {
    margin-bottom: 20px;
  }

  .advantages__block:last-of-type .feature__image {
    width: 150px;
    height: 150px;
  }

  .howto__step {
    flex-direction: column;
  }

  .step__number {
    margin-bottom: 20px;
  }

  .howto {
    padding-bottom: 375px;
  }
  .howto__image {
    bottom: 31% !important;
    transform: scale(1.35);
    left: 5%;
  }

  .levels {
    padding: 60px 0;
  }

  .levels__card {
    width: 300px;
  }

  .faq {
    padding: 60px 0 30px;
  }

  .tabs__nav {
    align-items: center;
  }

  .tabs__button {
    width: 100%;
  }

  .adress {
    padding: 30px 0 60px;
  }

  .mobile-menu {
    padding: 90px 20px 20px;
  }

  .modal__content {
    padding: 15px 5px 15px 15px;
  }
}

@media (max-width: 645px) {
  .howto__image {
    bottom: 50%;
  }
}
